<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kamilla.Properties.Settings.dbPoliceSuperConnectionString"
            connectionString="Data Source=DESKTOP-C1DHPVQ;Initial Catalog=dbPoliceSuper;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>